doctype html
html
  head
    title AT Hike Planner
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/javascripts/script.js")
  body#titlepage
    nav.navbar.navbar-default.navbar-fixed-top#menu(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 
            img.icon(src="/images/icon1.jpg" alt="icon")
            | Appalachian Trail Planner
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#', data-toggle='dropdown') States
                ul.dropdown-menu 
                  li 
                    a(href="/states/maine") Maine
                  li 
                    a(href="/states/newhampshire") New Hampshire
                  li 
                    a(href="/states/vermont") Vermont
                  li 
                    a(href="/states/massachusetts") Massachusetts
                  li 
                    a(href="/states/connecticut") Connecticut
                  li 
                    a(href="/states/newyandj") New York and New Jersey
                  li 
                    a(href="/states/pennsylvania") Pennsylvania
                  li 
                    a(href="/states/maryland") Maryland
                  li 
                    a(href="/states/westvirginia") West Virginia
                  li 
                    a(href="/states/virginia") Virginia
                  li 
                    a(href="/states/tennandncaro") Tennessee and North Carolina
                  li 
                    a(href="/states/georgia") Georgia
            li
              a(href='/states/gear') Gear 
            li
              a(href='#') Contacts
    block content
 