

a {
  color: #00B7FF;
  font-family: 'news cycle';
}

.icon {
	float: left;
	height: 35px;
	width: 35px;
	margin-right: 10px;
	margin-top: -3px;
	padding-bottom: 5px;

}

.placename {
	color: black;
	font-family: 'news cycle';
	border: none;
	background-color: white;
	opacity: 1.0;
	outline-style: none;
}


#map {
	height: 450px;
	width: 400px;
	margin: 50px;
	border-radius: 10px;
}

i {
	margin: 0 0 0 45%;
}
#intro p {
	font-size: 25px;
	font-family: 'news cycle';
	color: white;
	margin: 8px;
	padding-top: 5px;
	padding-left: 5px;
}

.bod {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 800px;
  margin: 0 auto;
  height: 550px;
  padding: 40px;
  background: rgba(0,0,0, .4);
}

section p {
	font-size: 30px;
}

h1 {
  border-bottom: 2px solid #fff;
  margin-bottom: 40px;
  font-size: 80px;
}

.background {
  color: #fff;
  padding: 80px;
}

#titlepage {
background: url("images/trail.jpg") no-repeat center center fixed; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 

} 

.black {
	font-size: 30px;
	color: black;
}

.blacksm {
	font-size: 15px;
	color: black;
}

.background:nth-child(2) {
	background: url("images/trail.jpg") no-repeat center center fixed; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 

}

.background:nth-child(3){
	background: url('images/trail.jpg') no-repeat fixed;
	background-size: cover;
}

.background:nth-child(4) {
background: url("images/trail.jpg") no-repeat center center fixed; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
color: white;
} 

.statetitle {
	font-family: 'news cycle';
	color: gray;
	background-color: white;
	margin-top: 70px;
	margin-left: 10px;
	opacity: .85;
	padding-left: 60px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
}

#pagename {
	font-size: 30px;
}

.info {
	background-color: white;
	opacity: 0.75;
	margin-bottom: 50px;
	margin-left: 30px;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	display: none;
	text-align: center;
	border-radius: 10px;
}

ul {
	list-style: none;
}

h2 {
	color: black;
}

p {
	color: black;
	font-size: 30px;
}

.tab { 
	margin-left: 10px; 
	font-size: 20px;
	display: none;
}

.townbtn {
	width: 300px ;
	font-weight: bold;
	text-align: center;
	background-color: gold;
	outline-style: none;
	color: gray;
	margin: 20px;

}

.place {
	color: black;
	font-size: 25px;
	border: none;
	background-color: white;
	opacity: 1.0;
	outline-style: none;
	font-family: 'news cycle'
}

iframe {
	height: 600px;
	width: 450px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.work {
	margin-top: 5px;
}
#menu {
	opacity: 0.85;
}

#gearlist {
	background-color: white;
	opacity: 0.85;
	padding: 20px;
	padding-left: 50px;
	margin: 10px;
}

label {
	color: gray;
}
