extends ../layout

block content
  div.row
    div.col-md-6
      iframe(src="https://www.google.com/maps/d/embed?mid=zr8WQP2S9_Bw.kXIQfb_DMaRA")
    div.col-md-6.work
      div#intro
        p The Appalachian National Scenic Trail, generally known as the Appalachian Trail or simply the A.T., 
          |is a marked hiking trail in the eastern United States extending between Springer Mountain in Georgia and 
          |Mount Katahdin in Maine. 
        p The trail is approximately 2,200 miles (3,500 km)long, though the precise length changes over time as parts are modified or rerouted. 
        p The trail passes through the states of Georgia, North Carolina, Tennessee, Virginia, West Virginia, Maryland, Pennsylvania, 
          |New Jersey, New York, Connecticut, Massachusetts, Vermont, New Hampshire, and Maine.
      
script(src="/javascripts/script.js")
      
          


